## Part 3 - Construct and export a MySQL database

# Normalizing Genres

In [1]:
import pandas as pd
import numpy as np
import os,json

In [2]:
basics_df = pd.read_csv('Data/filtered_basics.csv.gz', low_memory = False)
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama

In [3]:
basics_df.drop(['titleType', 'originalTitle', 'isAdult'], axis=1, inplace=True)

In [4]:
## create a col with a list of genres
basics_df['genres_split'] = basics_df['genres'].str.split(',')
basics_df

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,Kate & Leopold,2001,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama,[Drama]
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama,[Drama]
3,tt0088751,The Naked Monster,2005,NaN,100,"Comedy,Horror,Sci-Fi","[Comedy, Horror, Sci-Fi]"
4,tt0096056,Crime and Punishment,2002,NaN,126,Drama,[Drama]
...,...,...,...,...,...,...,...
80479,tt9914942,Life Without Sara Amat,2019,NaN,74,Drama,[Drama]
80480,tt9915872,The Last White Witch,2019,NaN,97,"Comedy,Drama,Fantasy","[Comedy, Drama, Fantasy]"
80481,tt9916170,The Rehearsal,2019,NaN,51,Drama,[Drama]
80482,tt9916190,Safeguard,2020,NaN,95,"Action,Adventure,Thriller","[Action, Adventure, Thriller]"
80483,tt9916362,Coven,2020,NaN,92,"Drama,History","[Drama, History]"

In [5]:
basics_df.drop(columns= 'genres', inplace = True)

In [6]:
exploded_genres = basics_df.explode('genres_split')
exploded_genres

,tconst,primaryTitle,startYear,endYear,runtimeMinutes,genres_split
0,tt0035423,Kate & Leopold,2001,NaN,118,Comedy
0,tt0035423,Kate & Leopold,2001,NaN,118,Fantasy
0,tt0035423,Kate & Leopold,2001,NaN,118,Romance
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,NaN,70,Drama
2,tt0069049,The Other Side of the Wind,2018,NaN,122,Drama
...,...,...,...,...,...,...
80482,tt9916190,Safeguard,2020,NaN,95,Action
80482,tt9916190,Safeguard,2020,NaN,95,Adventure
80482,tt9916190,Safeguard,2020,NaN,95,Thriller
80483,tt9916362,Coven,2020,NaN,92,Drama
80483,tt9916362,Coven,2020,NaN,92,History

In [7]:
unique_genres = sorted(exploded_genres['genres_split'].unique())

title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [8]:
## Making the genre mapper dictionary
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Short': 20,
 'Sport': 21,
 'Talk-Show': 22,
 'Thriller': 23,
 'War': 24,
 'Western': 25}

In [9]:
## make new integer genre_id and drop string genres
title_genres['genre_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')

In [12]:
basics_df.drop(columns = 'genres_split', inplace = True)

In [13]:
genre_lookup = pd.DataFrame({'genre_name': genre_map.keys(), 'genre_id': genre_map.values()})
genre_lookup.head()

  genre_name  genre_id
0     Action         0
1      Adult         1
2  Adventure         2
3  Animation         3
4  Biography         4

# Saving the MySQL tables with tconst as the primary key.

In [14]:
import pandas as pd
from sqlalchemy_utils import database_exists, create_database
import pymysql
from sqlalchemy import create_engine
from sqlalchemy.types import *
pymysql.install_as_MySQLdb()

In [15]:
with open('/Users/scyjt/.secret/mysql.json') as f:
    login = json.load(f)
login.keys()

dict_keys(['username', 'password'])

In [16]:
from urllib.parse import quote_plus as urlquote
connection = f"mysql+pymysql://{login['username']}:{urlquote(login['password'])}@localhost/movies"
engine = create_engine(connection)

In [17]:
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database Created')

It exists!

In [18]:
## Calculate max string lengths for object columns
key_len = basics_df['tconst'].fillna('').map(len).max()
title_len = basics_df['primaryTitle'].fillna('').map(len).max()
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema = {
    "tconst": String(key_len+1), 
    "primaryTitle": Text(title_len+1),
    'startYear':Float(),
    'endYear':Float(),
    'runtimeMinutes':Integer()}

In [19]:
# Save to sql with dtype and index=False
basics_df.to_sql('title_basics',engine,dtype=df_schema,if_exists='replace',index=False)

80484

In [20]:
title_genres.to_sql('title_genres',engine,if_exists='replace',index=False)

150756

In [21]:
genre_lookup.to_sql('genres',engine,if_exists='replace',index=False)

26

In [22]:
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema_ratings = {
    "tconst": String(key_len+1), 
    "averageRating": Text(title_len+1),
    'numVotes':Float()}

In [23]:
title_ratings = pd.read_csv('Data/filtered_ratings.csv.gz', low_memory = False)

title_ratings.to_sql('title_ratings',engine,dtype=df_schema_ratings,if_exists='replace',index=False)

486714

In [24]:
## Create a schema dictonary using Sqlalchemy datatype objects
df_schema_tmdb = {
    "tconst": String(key_len+1), 
    'revenue':Float(),
    'budget':Float(),
    'certification':Integer()}

In [25]:
tmdb_data = pd.read_csv('Data/tmdb_results_combined.csv.gz', low_memory = False)

tmdb_data.to_sql('tmdb_data',engine,dtype=df_schema,if_exists='replace',index=False)

2517

In [26]:
engine.execute('ALTER TABLE title_basics ADD PRIMARY KEY (`tconst`);')